################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ExpenseTrackerAutomation
/bin/Debug/netcoreapp3.1
/obj
*.user
